<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<add key="host" value="amqps://<user>:<pass>$@<server>:<port>/"/>
		<add key="exchange" value="<exchange_name>"/>
		<add key="clientKey" value="<path_to_key>\keycert.p12"/>
		<add key="passPhrase" value="<pass_for_key>"/>
	</appSettings>	
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="amqpdll.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<root>
			<level value="ERROR"/>
			<appender-ref ref="RollingFileAppender"/>
		</root>
	</log4net>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
